//  #002366 royal blue
// Hex #002147 oxford blue
// Hex #191970 midnight blue


$primary-color: #003153;

$secondary-color: rgb(225, 225, 225);

$orange: #ffa500;

$yellow: #ffff00;

$white: #ffffff;

$red: #ff0000;

$oxford-blue: #002366;

$midnight-blue: #191970;


$prussian-blue: #003153;

$indigo-dye:#00416A;

$olive-green: #808000;