@use "colors";
@use "variables";

.desktop-menu {
  background-color: colors.$primary-color;
  width: variables.$desktop-menu-width;
  height: 100dvh;
  color: white;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.menu-item {
  &:hover {
    cursor: pointer;
    background-color: rgba(61, 61, 61, 0.9);

  }
}

.outlet {
  margin-left: variables.$desktop-menu-width;
}

.smallMenuItems {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.showSmallMenuItems {
  animation: slideInFromRight .5s forwards;
}

.hideSmallMenuItems {
  animation: slideOutToRight .5s forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
