@use "reset";
@use "utilities";
@use "fonts";
@use "variables";
@use "colors";
@use "menu";

.icon-lg {
  font-size: 144px;
  color: colors.$secondary-color;
}

.clickable {
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .announcementWrapper {
    width: 600px;
    margin: 0 auto;
  }
}
